# Logs
logs
*.log
.*_history
npm-debug.log*

# Runtime data
results
pids
*.pid
*.seed
*.csv
*.dat
*.out
*.gz

lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
